

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">
    <link rel="icon" type="image/png" href="style/img/favicon.ico">

    <script src="{{ "/bower_components/jquery/dist/jquery.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/plugins/modernizrTouch.min.js" | prepend: site.baseurl }}"></script>
    <script src="{{ "/js/plugins/picturefill.min.js" | prepend: site.baseurl }}" async></script>

    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700,300,800' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="{{ "/style/css/dev-prefixed.css" | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <link rel="alternate" type="application/atom+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />
    <script>
        document.createElement("picture");
    </script>
 
 

    <script>

        if (Modernizr.touch) {
            $('html').addClass('touch');
        } else {
            $('html').addClass('no-touch');
        }

        $(function () {
            $('a[href*=#]:not([href=#])').click(function () {
                if (location.pathname.replace(/^\//, '') == this.pathname.replace(/^\//, '') && location.hostname == this.hostname) {
                    var target = $(this.hash);
                    target = target.length ? target : $('[name=' + this.hash.slice(1) + ']');
                    if (target.length) {
                        $('html,body').animate({
                            scrollTop: target.offset().top
                        }, 300);
                        return false;
                    }
                }
            });
        });


        //Geo blocking content
        function blockContent($el, restricted) {
            $el.attr('data-geo-restricted', restricted);
        }

        $.get("http://ipinfo.io", function (response) {
            $('body').attr('data-country', response.country);

            var $nordicRestricted = $('[data-nordic-restricted]');

            if (response.country != "NO" || response.country != "SE" || response.country != "DK") {
                blockContent($nordicRestricted, true);
            } else {
                blockContent($nordicRestricted, false);
            }

        }, "jsonp");



        function marginSetter(){
            var vh = $(window).height();
            $('#main').css('margin-top', vh);
        }


        $(window).load(function () {
            $('body').addClass('loaded');
        });

        $(document).ready(function(){
            marginSetter();
        });

        var resizeTimer;
        $(window).resize(function() {
            clearTimeout(resizeTimer);
            resizeTimer = setTimeout(marginSetter, 200);
        });


    </script>



    <!--
        Developed by Hans Kristian Smedsrød with Jekyll and hosted on GitHub Pages.
        Twitter: @hanserino
        GitHub: https://github.com/eplehans
        Blog: http://hanseri.no/
        Repo: https://github.com/oslosessions/oslosessions.github.io
    -->
