<div class="featured">

    {% for post in site.posts limit:1 %}
    <div class="post">
        <a href="{{post.url}}" class="poster"
           style="background-image: url(' http://i.imgur.com/{{post.imgurId}}.jpg '); background-size: cover; background-position: center center; background-repeat: no-repeat;">


            {% include video-controls.html %}

            <div class="text">
                <span class="postTag">New episode!</span><br/>

                <h2>{{ post.title }}</h2>

                <div class="description">
                    <p>{{post.content}}</p>
                </div>
            </div>
        </a>
    </div>

    {% endfor %}
</div>
