<div class="featured">

    {% for post in site.posts limit:1 %}
    <div class="post" data-video-id="{{post.vimeoCode}}">
        <div class="poster" style="background-image: url(' http://i.imgur.com/{{post.imgurId}}.jpg '); background-size: cover; background-position: center center; background-repeat: no-repeat;"></div>

        <div class="videoContainer">
            {% include video-controls.html %}

            <iframe class="video" src="//player.vimeo.com/video/{{post.vimeoCode}}?api=1" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <div class="text">
            <span class="postTag">Ny episode</span><br />

            <h2>{{ post.title }}</h2>

            <div class="description">
                {{post.content}}
            </div>

        </div>
    </div> 
    {% endfor %}
</div>
