<div class="postLoop" id="episodes">
    <ul>
        {% for post in site.posts %}

            {% if forloop.first == true %}

                <!-- Don't show latest post to avoid duplicate content -->

            {% else %}

            <li class="post">
                <div class="videoContainer">
                    <iframe class="video" src="//player.vimeo.com/video/{{post.vimeoCode}}?api=1" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
                </div>

                <div class="text">
                    <h2>{{ post.title }}</h2>
                    <div class="description">
                        {{post.content}}
                    </div>
                </div>

            </li>

            {% endif %}

        {% endfor %}
    </ul>
</div>