<div id="search">
	<label>
		<svg class="icon">
			<use xlink:href="#shape-search"></use>
		</svg>

		<script>
			(function() {
				var cx = '001546289220541106433:4wlovs0yp7q';
				var gcse = document.createElement('script');
				gcse.type = 'text/javascript';
				gcse.async = true;
				gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
						'//www.google.com/cse/cse.js?cx=' + cx;
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(gcse, s);
			})();
		</script>
		<gcse:search></gcse:search>

	</label>
</div>