<div class="featured">
    <div class="post" data-video-id="{{page.vimeoCode}}">

        <div class="videoContainer">

            <iframe class="video" src="//player.vimeo.com/video/{{page.vimeoCode}}?autoplay=1?api=1" frameborder="0"
                    webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
        </div>

        <div class="text">
            <h2>{{ page.title }}</h2>

            <div class="description">
                {{page.content}}
            </div>
        </div>
    </div>

</div> 