html {
  min-height: 100%;
}

body {
  height: 100%;
  background: $black;
}

hr{ 
  border-color: white;
}
#main {
  padding: units(3) 0 0 0;

//  @include device-size(large){
//    padding: 0;
//    min-height: 0;
//    max-height: 0;
//    overflow: hidden;
//    transition: all $default-transition-duration 0s $default-transition-function;
//    transition-property: min-height, max-height,padding;
//
//    .showEpisodes &{
//      min-height: 100vh; 
//      padding: units(5) 0 0 0;
//    }
//
//  }
}

  

.videoContainer{
  position: relative;
  padding-bottom: 56.25%;
  overflow: hidden;
  max-width: 100%;
  height: auto;

  iframe,
  object,
  embed{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  .controls{
    position: absolute;
    z-index: 5;
  }

  &:before{
    //content: "";
    //background: url('../img/loader.png') no-repeat;
    width: 30px;
    height: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -15px;
    margin-left: -15px;
    //animation: spin .8s infinite linear;

    .loaded &{
      //animation-play-state: paused;
    }
  }
}


/*  ================================================================================
	Helpful classes
================================================================================  */
.largeWrap {
  max-width: $siteMaxWidth;
  padding: $sitePadding;
  margin: 0 auto;
}

.screenReaderText {
  position: absolute;
  top: -9999px;
  left: -9999px;
}



//absolute positioned help classes
.absoluteRight,
.absoluteLeft,
.absoluteBottom,
.absoluteTop {
  position: absolute;
}

.absoluteLeft {
  left: 0;
}

.absoluteRight {
  right: 0;
}

.absoluteBottom {
  bottom: 0;
}

.absoluteTop {
  top: 0;
}

.absoluteCenter {
  @include absolute-center;
}

.fullWidth {
  width: 100%;
}

.center {
  text-align: center;
}

.noRadius {
  border-right: 0px;
}
