html {
  min-height: 100%;
}

body {
  height: 100%;
}

#main {

}

/*  ================================================================================
	Helpful classes
================================================================================  */
.largeWrap {
  max-width: $siteMaxWidth;
  padding: $sitePadding;
  margin: 0 auto;
}

.screenReaderText {
  position: absolute;
  top: -9999px;
  left: -9999px;
}



//absolute positioned help classes
.absoluteRight,
.absoluteLeft,
.absoluteBottom,
.absoluteTop {
  position: absolute;
}

.absoluteLeft {
  left: 0;
}

.absoluteRight {
  right: 0;
}

.absoluteBottom {
  bottom: 0;
}

.absoluteTop {
  top: 0;
}

.absoluteCenter {
  @include absolute-center;
}

.fullWidth {
  width: 100%;
}

.center {
  text-align: center;
}

.noRadius {
  border-right: 0px;
}
