.top {
  border: 5px solid black;
  width: 100%;
  height: 100%;
  min-height: 100%;
  top: 0;
  position: absolute;
  z-index: 3; 
  background: black;


  .social-links{
    display:none;
      @include device-size(large){
        display: block;
      }
  }

  @include device-size(large){
    max-height: 100vh;
    overflow: hidden; 
    .showEpisodes &{

    }
  }
} 

#nav {

    display: none;
    position: absolute;
    width: 100%;
    text-align: center;
    bottom: 0;
    left: 0; 
    z-index: 9;
 

    @include device-size(large){
        display: block;
        transition: bottom $default-transition-duration .2s $default-transition-function;
    } 

    [data-video-status=playing] &{
      @include device-size(small){
        display: none;
      }
      @include device-size(medium){
        display: none;
      }

      @include device-size(large){
        bottom: -100%; 
      }
    }

    a{
      background: black;
      padding: units(1) units(2);
      display: inline-block;
      color: white;
      text-transform: uppercase;
      font-weight: 300;
    }
}