.latestPost{
  position: relative;

  .post{
    position: relative;
    width: 100%;
    height: 100%;
  }
  .grain{
    position: absolute;
    width: 100%;
    height: 100%;
    background: url('../img/grain.png') repeat top left;
    z-index: 3;
  }
  .controls{
      width: 200px;
      height: auto;
      top: 50%;
      left: 50%;
      position: absolute;
      margin-left: -100px;
      margin-top: -100px;
      background: black;
      text-align: center;
      padding: units(4) 0;
      z-index: 5;

      button{
        display: inline-block;
        width: 55%;
      }
  }

  .text{
    position: relative;
    z-index: 4;
    width: 100%;
    padding: units(1);

    @include device-size(medium){
      width: 100%;
    }

    @include device-size(large){
      position: absolute;
      max-width: 350px;
      width: 40%;
      left: units(2);
      bottom: units(5);
    }


    h2,.description{
      background: white;
      padding: units(2);
    }
    h2{
      text-transform: uppercase;
      //display: inline;
      line-height: 1.4em;
    }
    .description{
      display: block;
      line-height: 1.4em;
    }
  }
}