.postLoop {
  display: block;
  font-size: 0;
  padding: 0 units(1);

  .post {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 100%;
    padding: 0 units(1);
    margin-bottom: units(4);

    &[data-nordic-restricted="true"] {

      /*opacity: .5;

      a {
        cursor: default;
        pointer-events: none;
      }*/
    }
    .geoBlockedText {
      position: absolute;
      z-index: 9;
      top: 50%;
      left: 0;
      display: block;
      width: 100%;
      padding: 0 units(1);
      text-align: center;
    }

    @include device-size(medium) {
      width: 50%;
    }
    @include device-size(large) {
      margin-bottom: 0;
      width: 25%;
    }

    a {
      display: block;

      img, picture {
        width: 100%;
        display: block;
      }
    }

    .text {
      margin: units(1) 0 0 0;
      padding: 0 units(1);
      font-size: $gamma;
      h2, .description {
        padding: units(1);
      }
      h2 {
        background: white;
        color: $black;

        margin: 0 0 units(1) 0;
      }
      .description {
        color: $white;
        margin: 0;
      }

    }
  }
}

.post {
  .postTag {
    background: black;
    color: white;
    display: inline-block;
    text-transform: uppercase;
    padding: units(2);
    font-weight: 300;
  }
  .text {

  }
}