.postLoop{
	article{
		display: block;
		margin: units(3) 0 0 0;
		&:first-child{
			margin: 0px;
		}
	}
	.excerpt{

	}
	a{
		display: block;
		border-left: 5px solid transparent;
		padding-left: units(1);

		.excerpt{
			color: $black;

		}
		&:hover,&:focus{
			text-decoration: none;
			border-color: $linkColor;

			h2{
				text-decoration: underline;
			}
			.excerpt{

			}
		}
	}
}