.videoControls {
  width: 100%; 
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background: transparent;
  text-align: center;
  padding: 0;
  z-index: 6;
  overflow: hidden;



  .svgContainer{
    opacity: .8;
    transition: opacity .15s 0s $default-transition-function;
    
    position: absolute;
    top: 45%;
    left: 50%;
  
    z-index: 2;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    margin-top: -80px;


    @include device-size(large){
      width: 140px;
      height: 140px;
      margin-left: -70px;
      margin-top: -70px;

    }

    &:hover {
      opacity: 1;
    }
  }


  

  #spin {
    animation: spinner 1s infinite linear;
    transform-origin: 50% 50%;
  }

  svg {
    fill: white;
  }

  .touch & {
    //display: none !important;
  }

  [data-video-status=playing] & {
    display: none;
  }

  
  



  button {
    background: transparent;
    border: none;
    outline: none;
    width: 100%;
    height: 100%;
    position: relative;
    text-align: center;
    padding: 0;
    cursor: default;
  }

  #play {
    display: none;
  }

  //Show play button when loaded
  .loaded & {
    button{
      cursor: pointer;
    }

    .svgContainer {
      animation: pop .2s 1 ease-in-out;

      &:hover {
        #play {

        }
      }
    }

    #spin {
      display: none;
      animation-play-state: paused;
    }
    #play {
      display: block;
    }
  }

  //Show play button while paused
  [data-video-status=paused] & {
    opacity: 1;
    
    #spin {
      display: none;
    }
    #play {
      display: block;
    }
  
  }
  //Show pause button when playing
  [data-video-status=playing] & {
    opacity: 0;
    display: none;
  }

}