$fontPath: '../assets/fonts/';

//Apply fallback font first - for faster rendering time
body{
  font-family: sans-serif;
}


//Import fonts
@font-face {
  font-family: 'robotoregular';
  src: url('#{$fontPath}roboto-regular-webfont.eot');
  src: url('#{$fontPath}roboto-regular-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}roboto-regular-webfont.woff2') format('woff2'),
  url('#{$fontPath}roboto-regular-webfont.woff') format('woff'),
  url('#{$fontPath}roboto-regular-webfont.ttf') format('truetype'),
  url('#{$fontPath}roboto-regular-webfont.svg#robotoregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'robotobold';
  src: url('#{$fontPath}roboto-bold-webfont.eot');
  src: url('#{$fontPath}roboto-bold-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}roboto-bold-webfont.woff2') format('woff2'),
  url('#{$fontPath}roboto-bold-webfont.woff') format('woff'),
  url('#{$fontPath}roboto-bold-webfont.ttf') format('truetype'),
  url('#{$fontPath}roboto-bold-webfont.svg#robotobold') format('svg');
  font-weight: normal;
  font-style: normal;

}
@font-face {
  font-family: 'robotolight';
  src: url('#{$fontPath}roboto-light-webfont.eot');
  src: url('#{$fontPath}roboto-light-webfont.eot?#iefix') format('embedded-opentype'),
  url('#{$fontPath}roboto-light-webfont.woff2') format('woff2'),
  url('#{$fontPath}roboto-light-webfont.woff') format('woff'),
  url('#{$fontPath}roboto-light-webfont.ttf') format('truetype'),
  url('#{$fontPath}roboto-light-webfont.svg#robotomedium') format('svg');
  font-weight: normal;
  font-style: normal;
}


//Applying imported font after loaded
body{
  font-family: 'robotoregular';
}

