/* ========================================================================
#UNITS
========================================================================= */
@function units($count) {
  @return $count * $baseUnit;
}


@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0px !important;
  transform: translate(-50%, -50%);
}




/* ========================================================================
#MEDIA QUERIES
========================================================================= */
@mixin device-size($size) {
  @if $size == small {
    @media (max-width: 60px) {
      @content;
    }
  }
  @if $size == medium {
    @media (min-width: 601px) {
      @content;
    }
  }
  @if $size == large {
    @media (min-width: 900px) {
      @content;
    }
  }
}



/* ========================================================================
  #TOUCH DEVICE
========================================================================= */

@mixin touch-devices(){
  .touch &{
    @content;
  }
}




//Touch and small screen
@mixin touch-and-small-screen(){
  .touch &{
    @include device-size(small){
      @content;
    }
  }
}