/* DEVELOPMENT STYLES. THIS SHOULD NOT GO INTO PRODUTION */
/* line 2, ../ext/_reset.scss */
html, body, div, span, applet, object, iframe, abbr,
acronym, em, img, kbd, q, s, samp, small,
strike, strong, sub, sup, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 20, ../ext/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 24, ../ext/_reset.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../ext/_reset.scss */
ul.reset,
ol.reset {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* line 37, ../ext/_reset.scss */
a img {
  border: none;
}

/* line 40, ../ext/_reset.scss */
img, video, iframe {
  max-width: 100%;
  height: auto;
}

/* line 46, ../ext/_reset.scss */
html {
  box-sizing: border-box;
}

/* line 49, ../ext/_reset.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* ========================================================================
#UNITS
========================================================================= */
/* ========================================================================
#MEDIA QUERIES
========================================================================= */
/* ========================================================================
  #TOUCH DEVICE
========================================================================= */
/* ========================================================================
#ANIMATION: Animation mixins
This is a custom built set of mixins for generating the css for animations
It has been made to be used the same way as compass's transition mixins
are used.
========================================================================= */
/* ========================================================================
#KEYFRAMES: Keyframes mixin
This is a custom built keyframe mixin that will wrap your keyframe content
in each vendor prefix.
========================================================================= */
/*  ================================================================================
	Parameters
	Parameters for use in this project
================================================================================  */
/* ========================================================================
#TRANSITIONS: Default Transition variables
========================================================================= */
/* ========================================================================
#BOX SHADOW: Default Box shadow variables
========================================================================= */
/* ========================================================================
#DEFAULT BORDER RADIUS
========================================================================= */
/*  ================================================================================
	COLORS
================================================================================  */
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* line 12, ../parameters/_typography.scss */
body {
  font-family: "helvetica";
}

/* line 21, ../parameters/_typography.scss */
a {
  color: black;
  text-decoration: none;
}

/* line 28, ../parameters/_typography.scss */
.italic {
  font-style: italic;
}

/* line 33, ../parameters/_typography.scss */
p a:hover {
  text-decoration: underline;
}

/* line 1, ../partials/_global.scss */
html {
  min-height: 100%;
}

/* line 5, ../partials/_global.scss */
body {
  height: 100%;
  background: black;
}

/* line 10, ../partials/_global.scss */
#main {
  padding: 24px 0 0 0;
}
@media (min-width: 900px) {
  /* line 10, ../partials/_global.scss */
  #main {
    padding: 0px;
    min-height: 0vh;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3s 0s cubic-bezier(0.55, 0, 0.1, 1);
    transition-property: min-height, max-height,padding;
  }
  /* line 21, ../partials/_global.scss */
  .showEpisodes #main {
    min-height: 100vh;
    padding: 40px 0 0 0;
  }
}

/* line 30, ../partials/_global.scss */
.videoContainer {
  position: relative;
  padding-bottom: 56.25%;
  height: 0;
  overflow: hidden;
  max-width: 100%;
  height: auto;
}
/* line 38, ../partials/_global.scss */
.videoContainer iframe,
.videoContainer object,
.videoContainer embed {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
/* line 48, ../partials/_global.scss */
.videoContainer .controls {
  position: absolute;
  z-index: 5;
}
/* line 53, ../partials/_global.scss */
.videoContainer:before {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -15px;
  margin-left: -15px;
}

/*  ================================================================================
	Helpful classes
================================================================================  */
/* line 75, ../partials/_global.scss */
.largeWrap {
  max-width: 960px;
  padding: 16px;
  margin: 0 auto;
}

/* line 81, ../partials/_global.scss */
.screenReaderText {
  position: absolute;
  top: -9999px;
  left: -9999px;
}

/* line 90, ../partials/_global.scss */
.absoluteRight,
.absoluteLeft,
.absoluteBottom,
.absoluteTop {
  position: absolute;
}

/* line 97, ../partials/_global.scss */
.absoluteLeft {
  left: 0;
}

/* line 101, ../partials/_global.scss */
.absoluteRight {
  right: 0;
}

/* line 105, ../partials/_global.scss */
.absoluteBottom {
  bottom: 0;
}

/* line 109, ../partials/_global.scss */
.absoluteTop {
  top: 0;
}

/* line 113, ../partials/_global.scss */
.absoluteCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: 0px !important;
  transform: translate(-50%, -50%);
}

/* line 117, ../partials/_global.scss */
.fullWidth {
  width: 100%;
}

/* line 121, ../partials/_global.scss */
.center {
  text-align: center;
}

/* line 125, ../partials/_global.scss */
.noRadius {
  border-right: 0px;
}

/*  ================================================================================
	MAIN HEADER
================================================================================  */
/* line 5, ../partials/_header.scss */
#header {
  border: 5px solid black;
  width: 100%;
  height: auto;
  position: relative;
  z-index: 3;
  background: black;
  overflow: auto;
}
@media (min-width: 900px) {
  /* line 5, ../partials/_header.scss */
  #header {
    max-height: 100vh;
    overflow: hidden;
  }
}
/* line 22, ../partials/_header.scss */
#header nav {
  position: absolute;
  width: 100%;
  text-align: center;
  bottom: 0;
  left: 0;
  z-index: 5;
}
@media (min-width: 900px) {
  /* line 22, ../partials/_header.scss */
  #header nav {
    transition: bottom 0.3s 0.2s cubic-bezier(0.55, 0, 0.1, 1);
  }
}
@media (max-width: 60px) {
  /* line 34, ../partials/_header.scss */
  [data-video-status=playing] #header nav {
    display: none;
  }
}
@media (min-width: 601px) {
  /* line 34, ../partials/_header.scss */
  [data-video-status=playing] #header nav {
    display: none;
  }
}
@media (min-width: 900px) {
  /* line 34, ../partials/_header.scss */
  [data-video-status=playing] #header nav {
    bottom: -100%;
  }
}
/* line 47, ../partials/_header.scss */
#header nav a {
  background: black;
  padding: 8px 16px;
  display: inline-block;
  color: white;
}
/* line 56, ../partials/_header.scss */
#header .logo {
  position: absolute;
  top: 8px;
  left: 8px;
  z-index: 5;
  width: 40%;
  height: auto;
  background: black;
  padding: 8px;
}
/* line 66, ../partials/_header.scss */
#header .logo a, #header .logo img {
  display: block;
}
@media (min-width: 601px) {
  /* line 56, ../partials/_header.scss */
  #header .logo {
    padding: 16px;
  }
}
@media (min-width: 900px) {
  /* line 56, ../partials/_header.scss */
  #header .logo {
    max-width: 350px;
    padding: 24px;
    transition: all 0.3s 0s cubic-bezier(0.55, 0, 0.1, 1);
  }
  /* line 81, ../partials/_header.scss */
  [data-video-status=playing] #header .logo {
    background: rgba(0, 0, 0, 0.3);
    max-width: 200px;
  }
}

/* NAVIGATION  ======================================================= */
/*  ================================================================================
MEDIUM DEVICES
================================================================================  */
/*  ================================================================================
SMALL DEVICES
================================================================================  */
/* line 1, ../partials/_latestPost.scss */
.latestPost {
  position: relative;
}
/* line 5, ../partials/_latestPost.scss */
.latestPost .post {
  position: relative;
  width: 100%;
  height: auto;
  padding: 0 0 32px 0;
}
@media (min-width: 900px) {
  /* line 5, ../partials/_latestPost.scss */
  .latestPost .post {
    height: 100vh;
    max-height: 100vh;
    padding: 0 0 0 0;
  }
}
/* line 18, ../partials/_latestPost.scss */
.latestPost .post:hover .controls {
  opacity: 1;
}
/* line 24, ../partials/_latestPost.scss */
.latestPost .poster {
  width: 100%;
  height: 100%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  z-index: 4;
  opacity: 1;
  display: none;
}
/* line 35, ../partials/_latestPost.scss */
.touch .latestPost .poster {
  display: none !important;
}
@media (min-width: 900px) {
  /* line 24, ../partials/_latestPost.scss */
  .latestPost .poster {
    display: block;
  }
  /* line 42, ../partials/_latestPost.scss */
  [data-video-status=paused] .latestPost .poster {
    background: transparent;
    display: block;
  }
  /* line 46, ../partials/_latestPost.scss */
  [data-video-status=playing] .latestPost .poster {
    display: none;
  }
  /* line 50, ../partials/_latestPost.scss */
  .latestPost .poster:before {
    content: "";
    background: url("../img/grain.png") repeat top left;
    display: block;
    opacity: .7;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 3;
  }
  /* line 60, ../partials/_latestPost.scss */
  [data-video-status=paused] .latestPost .poster:before {
    display: block;
  }
  /* line 63, ../partials/_latestPost.scss */
  [data-video-status=playing] .latestPost .poster:before {
    display: none;
  }
}
@media (min-width: 900px) {
  /* line 70, ../partials/_latestPost.scss */
  .latestPost .videoContainer {
    position: static;
  }
}
/* line 75, ../partials/_latestPost.scss */
.latestPost .controls {
  display: none;
}
/* line 78, ../partials/_latestPost.scss */
.touch .latestPost .controls {
  display: none !important;
}
@media (min-width: 900px) {
  /* line 75, ../partials/_latestPost.scss */
  .latestPost .controls {
    width: 20%;
    height: auto;
    top: 50%;
    left: 50%;
    position: absolute;
    margin-left: -10%;
    margin-top: -10%;
    background: transparent;
    text-align: center;
    padding: 0;
    z-index: 6;
    opacity: .8;
    transition: opacity 0.2s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  }
  /* line 96, ../partials/_latestPost.scss */
  .loaded .latestPost .controls {
    display: block;
  }
  /* line 99, ../partials/_latestPost.scss */
  .latestPost .controls:hover {
    opacity: 1;
  }
  /* line 103, ../partials/_latestPost.scss */
  .latestPost .controls button {
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
    width: 100%;
  }
  /* line 111, ../partials/_latestPost.scss */
  .latestPost .controls .play {
    display: block;
  }
  /* line 114, ../partials/_latestPost.scss */
  .latestPost .controls .pause {
    display: none;
  }
  /* line 119, ../partials/_latestPost.scss */
  [data-video-status=paused] .latestPost .controls {
    opacity: 1;
  }
  /* line 122, ../partials/_latestPost.scss */
  [data-video-status=paused] .latestPost .controls .play {
    display: block;
  }
  /* line 125, ../partials/_latestPost.scss */
  [data-video-status=paused] .latestPost .controls .pause {
    display: none;
  }
  /* line 130, ../partials/_latestPost.scss */
  [data-video-status=playing] .latestPost .controls {
    opacity: 0;
  }
  /* line 133, ../partials/_latestPost.scss */
  [data-video-status=playing] .latestPost .controls .play {
    display: none;
  }
  /* line 136, ../partials/_latestPost.scss */
  [data-video-status=playing] .latestPost .controls .pause {
    display: none;
  }
}
/* line 148, ../partials/_latestPost.scss */
.latestPost .text {
  position: relative;
  z-index: 4;
  width: 100%;
  padding: 8px;
}
@media (min-width: 601px) {
  /* line 148, ../partials/_latestPost.scss */
  .latestPost .text {
    width: 100%;
  }
}
@media (min-width: 900px) {
  /* line 148, ../partials/_latestPost.scss */
  .latestPost .text {
    position: absolute;
    max-width: 350px;
    width: 40%;
    left: -100%;
    bottom: 48px;
    transition: left 0.3s 0.3s cubic-bezier(0.55, 0, 0.1, 1);
  }
  /* line 165, ../partials/_latestPost.scss */
  .loaded .latestPost .text {
    left: 8px;
  }
  /* line 168, ../partials/_latestPost.scss */
  [data-video-status=playing] .latestPost .text {
    left: -100%;
  }
}
/* line 173, ../partials/_latestPost.scss */
.latestPost .text h2, .latestPost .text .description {
  background: white;
  padding: 16px;
}
/* line 178, ../partials/_latestPost.scss */
.latestPost .text h2 {
  text-transform: uppercase;
  line-height: 1.2em;
  margin: 8px 0;
}
/* line 183, ../partials/_latestPost.scss */
.latestPost .text .description {
  display: block;
  line-height: 1.4em;
  padding: 16px;
}
/* line 187, ../partials/_latestPost.scss */
.latestPost .text .description * {
  margin: 0;
}

/* line 1, ../partials/_postLoop.scss */
.postLoop {
  display: block;
  font-size: 0px;
  padding: 0 8px;
}
/* line 7, ../partials/_postLoop.scss */
.postLoop .post {
  position: relative;
  display: inline-block;
  vertical-align: top;
  width: 100%;
  padding: 0 8px;
  margin-bottom: 32px;
}
@media (min-width: 601px) {
  /* line 7, ../partials/_postLoop.scss */
  .postLoop .post {
    width: 50%;
  }
}
@media (min-width: 900px) {
  /* line 7, ../partials/_postLoop.scss */
  .postLoop .post {
    margin-bottom: 0;
    width: 25%;
  }
}
/* line 23, ../partials/_postLoop.scss */
.postLoop .post .text {
  margin: 8px 0 0 0;
  padding: 0 8px;
  font-size: 16px;
}
/* line 27, ../partials/_postLoop.scss */
.postLoop .post .text h2, .postLoop .post .text .description {
  padding: 8px;
}
/* line 30, ../partials/_postLoop.scss */
.postLoop .post .text h2 {
  background: white;
  color: black;
  margin: 0 0 8px 0;
}
/* line 35, ../partials/_postLoop.scss */
.postLoop .post .text .description {
  color: white;
  margin: 0;
}

/* line 45, ../partials/_postLoop.scss */
.post .postTag {
  background: black;
  color: white;
  display: inline-block;
  padding: 8px;
}
