/* COMPASS FUNCTIONALITY IMPORTS */
/* line 5, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../Library/Ruby/Gems/2.0.0/gems/compass-core-1.0.1/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 5, ../ext/_ceaser.scss */
#transition {
  -webkit-transition-property: all;
  -webkit-transition-duration: 1.2s;
  -webkit-transition-timing-function: cubic-bezier(0.420, 0.000, 1.000, 1.000);
}

/* line 11, ../ext/_ceaser.scss */
#animation {
  -webkit-animation-name: animateMe;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: cubic-bezier(0.470, 0.000, 0.745, 0.715);
  -webkit-animation-duration: 10s;
}

/* line 24, ../ext/_ceaser.scss */
#ceaser-transition {
  -moz-transition: "1.000, 0.000, 0.000, 1.000" 1s cubic-bezier(500ms);
  -o-transition: "1.000, 0.000, 0.000, 1.000" 1s cubic-bezier(500ms);
  -webkit-transition: "1.000, 0.000, 0.000, 1.000" 1s cubic-bezier(500ms);
  transition: "1.000, 0.000, 0.000, 1.000" 1s cubic-bezier(500ms);
}

/* ==========================
 *
 * List of all timing function
 *
 * $linear
 * $ease (default)
 * $ease-in
 * $ease-out
 * $ease-in-out
 *
 * $easeInQuad
 * $easeInCubic
 * $easeInQuart
 * $easeInQuint
 * $easeInSine
 * $easeInExpo
 * $easeInCirc
 * $easeInBack
 *
 * $easeOutQuad
 * $easeOutCubic
 * $easeOutQuart
 * $easeOutQuint
 * $easeOutSine
 * $easeOutExpo
 * $easeOutCirc
 * $easeOutBack
 *
 * $easeInOutQuad
 * $easeInOutCubic
 * $easeInOutQuart
 * $easeInOutQuint
 * $easeInOutSine
 * $easeInOutExpo
 * $easeInOutCirc
 * $easeInOutBack
 * ======================== */
/* ========================================================================
#MEDIA QUERIES
========================================================================= */
/*  ================================================================================
	Parameters
	Parameters for use in this project
================================================================================  */
/* ========================================================================
#TRANSITIONS: Default Transition variables
========================================================================= */
/* line 18, ../parameters/_parameters.scss */
.transitionDefaults {
  -moz-transition: all 0.3s false 0s;
  -o-transition: all 0.3s false 0s;
  -webkit-transition: all 0.3s false;
  -webkit-transition-delay: 0s;
  transition: all 0.3s false 0s;
}

/* ========================================================================
#DEFAULT BORDER RADIUS
========================================================================= */
/* ========================================================================
#ANIMATION: Animation mixins
This is a custom built set of mixins for generating the css for animations
It has been made to be used the same way as compass's transition mixins
are used.
========================================================================= */
/* ========================================================================
#KEYFRAMES: Keyframes mixin
This is a custom built keyframe mixin that will wrap your keyframe content
in each vendor prefix.
========================================================================= */
@-moz-keyframes $name {}
@-webkit-keyframes $name {}
@-o-keyframes $name {}
/* line 37, ../parameters/_typography.scss */
body {
  font-family: "Roboto", sans-serif, "sans-serif";
  color: #282828;
  font-size: 12px;
  font-size: 1.2rem;
  line-height: 12px;
  line-height: 1.7rem;
}

/* line 43, ../parameters/_typography.scss */
h1, h2, h3, h4, strong, em {
  font-weight: 700;
}

/* line 46, ../parameters/_typography.scss */
h1, h2, h3, h4 {
  font-family: "Roboto Slab", helvetica, sans-serif;
}

/* line 52, ../parameters/_typography.scss */
h1 {
  font-size: 20px;
  font-size: 2rem;
  line-height: 20px;
  line-height: 2.5rem;
  text-transform: uppercase;
}

/* line 56, ../parameters/_typography.scss */
h2 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 15px;
  line-height: 2rem;
}

/* line 60, ../parameters/_typography.scss */
h3 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 15px;
  line-height: 2rem;
}

/* line 66, ../parameters/_typography.scss */
article > header {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0 0 20px 0;
}
/* line 72, ../parameters/_typography.scss */
article > header h1 {
  display: block;
}

/* line 79, ../parameters/_typography.scss */
p {
  margin-bottom: 20px;
}

/* line 85, ../parameters/_typography.scss */
li {
  margin: 0 0 0.3rem 0;
}

/* line 88, ../parameters/_typography.scss */
li ul, li ol {
  margin: 0 1.5rem;
}

/* line 91, ../parameters/_typography.scss */
ul, ol {
  margin: 0 1.5rem 1.5rem 1.5rem;
}

/* line 94, ../parameters/_typography.scss */
ul {
  list-style-type: disc;
}

/* line 97, ../parameters/_typography.scss */
ol {
  list-style-type: decimal;
}

/* line 100, ../parameters/_typography.scss */
ol ol {
  list-style: upper-alpha;
}

/* line 103, ../parameters/_typography.scss */
ol ol ol {
  list-style: lower-roman;
}

/* line 106, ../parameters/_typography.scss */
ol ol ol ol {
  list-style: lower-alpha;
}

/* line 109, ../parameters/_typography.scss */
dl {
  margin: 0 0 1.5rem 0;
}

/* line 112, ../parameters/_typography.scss */
dl dt {
  font-weight: bold;
}

/* line 115, ../parameters/_typography.scss */
dd {
  margin-left: 1.5rem;
}

/* line 118, ../parameters/_typography.scss */
table {
  margin-bottom: 1.4rem;
  width: 100%;
}

/* line 122, ../parameters/_typography.scss */
th {
  font-weight: bold;
}

/* line 126, ../parameters/_typography.scss */
tfoot {
  font-style: italic;
}

/* line 129, ../parameters/_typography.scss */
sup, sub {
  line-height: 0;
}

/* line 132, ../parameters/_typography.scss */
abbr, acronym {
  border-bottom: 1px dotted;
}

/* line 136, ../parameters/_typography.scss */
a {
  color: tomato;
  text-decoration: none;
}
/* line 140, ../parameters/_typography.scss */
a:hover {
  text-decoration: underline;
}

/* line 2, ../partials/_global.scss */
html {
  box-sizing: border-box;
}

/* line 5, ../partials/_global.scss */
*, *:before, *:after {
  box-sizing: inherit;
}

/* line 8, ../partials/_global.scss */
body {
  background: #fffef9;
  overflow-y: scroll;
}

/* line 13, ../partials/_global.scss */
body, html {
  padding: 0px;
  margin: 0px;
}

/* line 18, ../partials/_global.scss */
img, video, svg, iframe {
  max-width: 100%;
  height: auto;
}

/* line 23, ../partials/_global.scss */
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 32px;
  height: 32px;
}

/* line 31, ../partials/_global.scss */
.author img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}

/* line 36, ../partials/_global.scss */
.main > h1 {
  margin-bottom: 20px;
}

/*  ================================================================================
	Helpful classes
================================================================================  */
/* line 46, ../partials/_global.scss */
.widthLimit {
  max-width: 750px;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

/*  ================================================================================
	MAIN HEADER
================================================================================  */
/* line 4, ../partials/_header.scss */
#header {
  position: relative;
  padding: 40px 0 0 0;
  margin: 0 0 50px 0;
  /* PAGE TITLE / IMAGE  ======================================================= */
}
/* line 11, ../partials/_header.scss */
#header .siteLegend {
  display: block;
  text-align: center;
  width: 100%;
}
/* line 17, ../partials/_header.scss */
#header .siteLogo {
  max-width: 70%;
  text-align: center;
  margin: 0 auto;
  display: inline-block;
}
/* line 23, ../partials/_header.scss */
#header .siteLogo img {
  max-width: 100px;
  display: inline-block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid #282828;
}
/* line 30, ../partials/_header.scss */
#header .siteSlogan {
  margin: 0px;
}
/* line 34, ../partials/_header.scss */
#header .siteTitle {
  text-decoration: none;
  text-transform: none;
  width: auto;
  margin: 0 auto;
  display: inline-block;
}
/* line 41, ../partials/_header.scss */
#header .siteTitle h1 {
  font-size: 15px;
  font-size: 1.5rem;
  line-height: 15px;
  line-height: 2rem;
}
/* line 45, ../partials/_header.scss */
#header .siteSlogan {
  display: block;
  width: 100%;
  text-transform: none;
  font-size: 9px;
  font-size: 0.9rem;
  line-height: 9px;
  line-height: 1.4rem;
}
/* line 50, ../partials/_header.scss */
#header .siteSlogan:before {
  content: "-";
  margin-right: 2px;
}

/*  ================================================================================
	MEDIUM DEVICES
================================================================================  */
/*  ================================================================================
	SMALL DEVICES
================================================================================  */
@media (max-width: 600px) {
  /* line 70, ../partials/_header.scss */
  #header {
    margin-bottom: 30px;
  }
}
/* NAVIGATION  ======================================================= */
/* line 2, ../partials/_navigation.scss */
#nav {
  display: block;
  width: 100%;
  text-align: center;
  margin: 10px 0 0 0;
}
/* line 8, ../partials/_navigation.scss */
#nav ul {
  font-size: 0px;
  padding: 0px;
  margin: 0px;
}
/* line 14, ../partials/_navigation.scss */
#nav li {
  display: inline-block;
  vertical-align: middle;
  width: auto;
  margin: 0;
  padding: 0;
}
/* line 22, ../partials/_navigation.scss */
#nav li.active a {
  text-decoration: underline;
}
/* line 27, ../partials/_navigation.scss */
#nav a {
  display: block;
  width: 100%;
  padding: 0 10px;
  font-size: 9px;
  font-size: 0.9rem;
  line-height: 9px;
  line-height: 1.4rem;
}
/* line 32, ../partials/_navigation.scss */
#nav a:before {
  content: "/";
  display: inline-block;
}

/*  ================================================================================
	MEDIUM DEVICES
================================================================================  */
/*  ================================================================================
	SMALL DEVICES
================================================================================  */
/* line 1, ../partials/_footer.scss */
#footer {
  width: 100%;
  display: block;
  text-align: center;
  margin: 70px 0;
}
/* line 7, ../partials/_footer.scss */
#footer .copyright, #footer .socialLinks {
  display: block;
  width: 100%;
  text-align: center;
}
/* line 12, ../partials/_footer.scss */
#footer .copyright {
  font-size: 9px;
  font-size: 0.9rem;
  line-height: 9px;
  line-height: 1.4rem;
  color: rgba(0, 0, 0, 0.6);
}
/* line 16, ../partials/_footer.scss */
#footer .socialLinks {
  margin: 5px 0 0 0;
  padding: 0px;
}
/* line 20, ../partials/_footer.scss */
#footer a {
  color: rgba(0, 0, 0, 0.6);
}
/* line 22, ../partials/_footer.scss */
#footer a:hover {
  color: #282828;
}

/* line 6, ../partials/_singlePost.scss */
.singlePost .postTitle {
  padding: 20px 0 0 0;
}
/* line 12, ../partials/_singlePost.scss */
.singlePost .date {
  font-size: 8px;
  font-size: 0.8rem;
  line-height: 8px;
  line-height: 1.3rem;
}
/* line 16, ../partials/_singlePost.scss */
.singlePost .postContent {
  line-height: 2rem;
}
/* line 28, ../partials/_singlePost.scss */
.singlePost footer {
  margin: 20px 0 0 0;
  display: block;
  width: 100%;
}
/* line 42, ../partials/_singlePost.scss */
.singlePost .author img {
  width: 10%;
  float: left;
  margin: 0 10px 0 0;
}

/* line 1, ../partials/_sidebar.scss */
.sidebar {
  text-align: center;
}
/* line 3, ../partials/_sidebar.scss */
.sidebar .authorPic {
  display: block;
  width: 100%;
}
/* line 7, ../partials/_sidebar.scss */
.sidebar .authorPic img {
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  border: 2px solid black;
}
/* line 11, ../partials/_sidebar.scss */
.sidebar .authorPic figcaption {
  margin: 10px 0;
}
/* line 15, ../partials/_sidebar.scss */
.sidebar .socialLinks {
  display: block;
}
/* line 18, ../partials/_sidebar.scss */
.sidebar .socialLinks li {
  list-style: none;
}
/* line 12, ../ext/_helpers.scss */
.sidebar .socialLinks core-icon {
  width: 30px;
  height: 30px;
}
@media (min-width: 850px) {
  /* line 1, ../partials/_sidebar.scss */
  .sidebar {
    text-align: left;
  }
}

/* line 1, ../partials/_comments.scss */
.comments {
  display: block;
  width: 100%;
}

/* line 3, ../partials/_socialLinks.scss */
.socialLinks li {
  display: inline-block;
  width: auto;
}
/* line 7, ../partials/_socialLinks.scss */
.socialLinks a {
  overflow: hidden;
}
/* line 10, ../partials/_socialLinks.scss */
.socialLinks span {
  position: absolute;
  left: -9999999px;
  color: transparent;
  font-size: 0px;
  opacity: 0;
}

/* line 2, ../partials/_postLoop.scss */
.postLoop article {
  display: block;
  margin: 30px 0 0 0;
}
/* line 5, ../partials/_postLoop.scss */
.postLoop article:first-child {
  margin: 0px;
}
/* line 12, ../partials/_postLoop.scss */
.postLoop a {
  display: block;
  border-left: 5px solid transparent;
  padding-left: 10px;
}
/* line 17, ../partials/_postLoop.scss */
.postLoop a .excerpt {
  color: #282828;
}
/* line 21, ../partials/_postLoop.scss */
.postLoop a:hover, .postLoop a:focus {
  text-decoration: none;
  border-color: tomato;
}
/* line 25, ../partials/_postLoop.scss */
.postLoop a:hover h2, .postLoop a:focus h2 {
  text-decoration: underline;
}
