<!DOCTYPE html>
<html>

{% include head.html %}

<body class="singlePost">
	{% include header.html %}

	<main id="main">

		<article class="widthLimit">
			<header class="postHeader">
				<h1 id="{{ page.title | handleize | downcase | replace: ' ', '-'}}" class="postTitle">{{ page.title }}</h1>
				<div class="date">
					<p>Written on {{ page.date | date: "%B %e, %Y" }}</p>
				</div>
			</header>
			<div class="postContent">
				{{ content }}
			</div>
		</article>

		<aside class="widthLimit">
			{% include disqus.html %}
		</aside>

	</main>
	{% include footer.html %}