/*  ================================================================================
	COLORS
================================================================================  */
$black: black;
$white: white;
$bg: lighten(#dcdcd9, 10%);
$swatch3: #303030;
$swatch4: #fafafa;
$swatch5: #717171;
$swatch6: #303030;

$swatch1a: #f6253d;
$swatch1b: #f73a50;
$swatch1c: #f85164;
$swatch1d: #f96677;
$swatch1e: #fa7c8b;
$swatch1f: #fa929e;
$swatch1g: #fba8b1;
$swatch1h: #fcbdc4;
$swatch1i: #fdd3d8;
$swatch1j: #fee9eb;

$swatch2a: #42426d;
$swatch2b: #55557b;
$swatch2c: #68688a;
$swatch2d: #7a7a99;
$swatch2e: #8e8ea7;
$swatch2f: #a0a0b6;
$swatch2g: #b3b3c5;
$swatch2h: #c6c6d3;
$swatch2i: #d9d9e2;
$swatch2j: #ececf0;

.swatch1a {
  background: $swatch1a;
}

.swatch1b {
  background: $swatch1b;
}

.swatch1c {
  background: $swatch1c;
}

.swatch1d {
  background: $swatch1d;
}

.swatch1e {
  background: $swatch1e;
}

.swatch1f {
  background: $swatch1f;
}

.swatch1g {
  background: $swatch1g;
}

.swatch1h {
  background: $swatch1h;
}

.swatch1i {
  background: $swatch1i;
}

.swatch1j {
  background: $swatch1j;
}

.swatch2a {
  background: $swatch2a;
}

.swatch2b {
  background: $swatch2b;
}

.swatch2c {
  background: $swatch2c;
}

.swatch2d {
  background: $swatch2d;
}

.swatch2e {
  background: $swatch2e;
}

.swatch2f {
  background: $swatch2f;
}

.swatch2g {
  background: $swatch2g;
}

.swatch2h {
  background: $swatch2h;
}

.swatch2i {
  background: $swatch2i;
}

.swatch2j {
  background: $swatch2j;
}

//gradient with all colors
.gradient {
  &.horizontal {
    background: linear-gradient(to right, $swatch1a 0%, $swatch2a 100%);
  }
  &.vertical {
    background: linear-gradient(to bottom, $swatch1a 0%, $swatch2a 100%);
  }
}
.gradient2{
  &.horizontal {
    background-image: linear-gradient(to right, #3c3c63 0%, #4e395d 40%, #7c3354 100%);
  }
  &.vertical {
    background-image: linear-gradient(to top, #3c3c63 0%, #4e395d 40%, #7c3354 100%);
  }
}


@mixin gradient2($vertical: true, $horizontal: false) {
  @if $vertical == true {
    background-image: linear-gradient(to top, #3c3c63 0%, #4e395d 40%, #7c3354 100%);
  }
  @else{
    background-image: linear-gradient(to right, #3c3c63 0%, #4e395d 40%, #7c3354 100%);
  }
}
