.icon{
	//@include dimensions(units(2),units(2));
    display: inline-block;
    vertical-align: middle;
    @include dimensions($iconWidth, $iconHeight);
}

.icon-larger{
	@include dimensions(units(5),units(5));
}

.icon-smaller{
	@include dimensions(units(1),units(1));
}

.icon{
	//color: $white;
    fill: currentcolor;
}
