$mainFont: 'Open Sans', sans-serif;

//Font sizes
$giga: units(5);
$mega: units(4);
$alpha: units(3) + units(1/2);
$beta: units(2) + units(1/2);
$gamma: units(2);
$delta: 14px;


body{ 
  font-family: $mainFont;
}

//Font size and line height mixin
@mixin font-size($font-size: $alpha) {
  font-size: $font-size; 

}

a {
  color: $black;
  text-decoration: none; 
  &:hover {
  }
}

.italic {
  font-style: italic;
}

p a {
  &:hover {
    text-decoration: underline;
  }
}

h1,h2,h3{
  font-weight: 800;
} 